# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim temporaries
.*.swp

# Binaries
a.out
dx

# OS X
.DS_Store

# CMake
build

# YouCompleteMe
**/.ycm_extra_conf.pyc

# Others
*.bkp
*.old
*.gch
*.d
git_stats
